body{
    text-align: center;
    background-image: url("images/bg.png");
    background-size: 100%;
    background-repeat :no-repeat;
}

.part{
    font-size: 18px;
    margin:20px 0;
}

#title{
    font-size: 24px;
    font-family: Microsoft Yahei;
    font-weight: bold;
}
#login_frame {  
    width: 400px;  
    height: 260px;  
    padding: 13px;  
  
    position: absolute;  
    left: 50%;  
    top: 50%;  
    margin-left: -200px;  
    margin-top: -200px;  
  
    background-color: rgba(240, 255, 255, 0.5);  
  
    border-radius: 10px;  
    text-align: center;  
}  
#image_logo {  
    margin-top: 22px;  
}